{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "stripe/stripe.css" %}">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static "stripe/stripe.js" %}"></script>
    <title>Pay Invoice</title>
</head>
<body data-js-vars="{{ payment_vars }}">
<div style="margin: auto; padding: 10px; text-align: center; max-width: 800px; min-width: 500px;">
    {{ pay_message }}
    <form action="{% url 'billing:gateway-action' gateway='stripe' action_name='charge' %}" method="post"
          id="payment-form">
        <div class="form-row">
            <label for="card-element">{% trans "Enter your credit or debit card details below" %}</label>
            <div id="card-element">
                <!-- a Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display form errors -->
            <div id="card-errors" role="alert"></div>
        </div>
        <button>Submit Payment</button>
    </form>
    <form action="{% url 'billing:gateway-action' gateway='stripe' action_name='charge' %}" id="tokenSubmitForm" method="post">
        {{ token_form.non_field_errors }}
        {% csrf_token %}
        {{ token_form }}
    </form>
</div>
</body>
</html>
